<div class="main-content">
  <mat-card>
    <mat-card-title>
      Registration
    </mat-card-title>
    <mat-card-content>
      <form [action]="ApiUrlEndpoint" method='POST'>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput
                type="text"
                placeholder="Username"
                name="username">
          <img matSuffix>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput
                [type]=passwordType
                placeholder="Password"
                name="password">
          <button mat-button
                  matSuffix
                  type="button"
                  (click)="togglePasswordVisibility()">Show</button>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
          <input matInput
                [type]=passwordType
                placeholder="Re-password"
                name="re-password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput
                type="email"
                placeholder="E-mail"
                name="email">
        </mat-form-field>
        <br>
      </form>
    </mat-card-content>
  </mat-card>
</div>
