.mat-form-field {
  display: inline-block;
  width: 90%;
}

.main-content {
  text-align: center;
  margin: 10%;
}

.mat-card-registration button {
  width: 90%;
}

.mat-card-registration {
  width: 350px;
  margin: auto;
  padding-top: 50px;
}

.passwordTasks {
  background-color: rgb(33,150,243);
  margin-right: 3%;
  margin-left: 3%;
  color: white;
  text-align: left !important;
}

.check-mark-green {
  font-weight: bold;
  color: rgb(40, 184, 11);
}

.check-mark-red {
  font-weight: bold;
  color: red;
}

.task-padding {
  padding-left: 10px;
}

/* DARK - MODE

*/
/*override the default color for placeholders*/
/*
.mat-card-registration mat-label{
  color:white;
}

.mat-card-registration .mat-input-element::placeholder {
  color: white;
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  caret-color: white;
}*/
