.mat-form-field {
  display: inline-block;
  width: 90%;
}

.main-content {
  text-align: center;
  margin: 10%;
}

mat-card button {
  width: 90%;
}

mat-card {
  width: 350px;
  margin: auto;
  padding-top: 50px;
}

/* DARK - MODE

*/
/*override the default color for placeholders*/
/*
.mat-card-registration mat-label{
  color:white;
}

.mat-card-registration .mat-input-element::placeholder {
  color: white;
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  caret-color: white;
}*/
